<p id="notice"><%= notice %></p>
<h1>Show Task</h1>

<p>
  <strong><%= t('activerecord.attributes.task.name') %>:</strong>
  <%= @task.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.content') %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.expired_at') %>:</strong>
  <%= @task.expired_at %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.status') %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.task.priority') %>:</strong>
  <%= @task.priority %>
</p>

<%= link_to t('view.Edit'), edit_task_path(@task) %> |
<%= link_to t('view.Back'), root_path %>
