<p id="notice"><%= notice %></p>
<h1>Show Task</h1>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>タスク詳細:</strong>
  <%= @task.content %>
</p>

<%= link_to t('view.Edit'), edit_task_path(@task) %> |
<%= link_to t('view.Back'), root_path %>
