<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>管理権限</th>
        <th>user_id</th>
        <th>ユーザ名</th>
        <th>メールアドレス</th>
        <th>タスク数</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.admin %></td>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.tasks.length %></td>
          <td><%= link_to t('view.Show'), admin_user_path(user) %></td>
          <td><%= link_to t('view.Edit'), edit_admin_user_path(user) %></td>
          <td><%= link_to t('view.Destroy'), admin_user_path(user), method: :delete, data: { confirm: t('confirm.Are you sure?') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @users %>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="85%">ラベル名</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @labels.each do |label| %>
        <tr>
          <td><%= label.name %></td>
          <td><%= link_to t('view.Edit'), edit_label_path(label) %></td>
          <td><%= link_to t('view.Destroy'), label_path(label), method: :delete, data: { confirm: t('confirm.Are you sure?') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @labels %>
</div>
