<div class="row">
  <h2>
    <strong>Name:</strong>
    <%= @user.name %>
  </h2>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th> <%= t('activerecord.attributes.task.name') %> </th>
        <th> <%= t('activerecord.attributes.task.content') %> </th>
        <th> <%= t('activerecord.attributes.task.expired_at') %> </th>
        <th> <%= t('activerecord.attributes.task.status') %> </th>
        <th> <%= t('activerecord.attributes.task.priority') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.content %></td>
          <td><%= task.expired_at %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row col-sm-offset-10 col-xs-offset-10">
  <div class="">
    <%= link_to t('view.Back'), admin_users_path,class: "btn btn-default" %>
  </div>
</div>
