<!DOCTYPE html>
<html>
  <head>
    <title>管理画面</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="login-menu pull-right">
            <%= link_to "Home", root_path %>
        </div>
        <h1>管理画面</h1>
        <div class="pull-right">
          <%= link_to t('view.New User'), new_admin_user_path, class: "btn btn-primary" %>
          <%= link_to t('view.New Label'), new_label_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
