<!DOCTYPE html>
<html>
  <head>
    <title>TaskMgtApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="login-menu pull-right">
          <% if logged_in? %>
            <%= link_to "Profile", user_path(current_user.id) %> |
            <%= link_to "Logout", session_path(current_user.id), method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_path %> |
            <%= link_to "Login", new_session_path %>
          <% end %>
        </div>
        <h1>To Do List</h1>
        <br>
        <%= link_to "ホーム", root_path,class: "btn btn-primary btn-lg" %>
        <%= link_to "新規作成", new_task_path,class: "btn btn-primary btn-lg" %>
      </div>
    </div>
    <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
